<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<div *ngIf="!quizFinished">
  

  <h1>Quiz related Angular</h1>


  <div *ngIf="questions">
  <h2>{{questions[currentQuestionIndex]?.question}}</h2>
  <ul type="none">
      <li *ngFor="let choice of questions[currentQuestionIndex]?.choices">
          <label>
              <input type="radio" name="answer" [value]="choice" (change)="checkAnswer(choice)">{{choice}}
              </label>


      </li>


  </ul>


      <button (click)="currentQuestionIndex=(currentQuestionIndex+1)%questions.length">Next</button>


  </div>






</div>




<div *ngIf="quizFinished">
<h1>Quiz Completed</h1>
<h2>Your score is {{score }} out of {{questions.length}} questions</h2>


<h5> WELL TRIED THANK YOU </h5>
</div>





